@font-face {
  font-family: GgSans;
  src: url(fonts/gg sans Bold.ttf) format("ttf"),
       url(fonts/gg sans Regular.ttf) format("ttf"),
       url(fonts/gg sans Semibold.ttf) format("ttf"),
       url(fonts/gg sans Medium.ttf) format("ttf");
}


header {
  height: 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.spacing-header-div {
  width: 72px;
  height: 32px;
}

.Amigos {
  position: absolute;
  color: oklab(0.988078 0.0000451207 0.0000197291);
  font-size: 14px;
  font-weight: 500;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  height: 32px;
  column-gap: 8px;
  row-gap: 8px;
}

.Amigos p {
  padding-bottom: 1px;
}


.header-icons {
  border: 0.5em;
}

.right-icons {
  display: flex;
  flex-direction: row;
  width: 124px;
  align-items: center;
  justify-content: flex-end;
  height: 32px;
  column-gap: 12px;
  row-gap: 12px;
  position: absolute;
  right: 12px;
}

.iconwrapper {
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
}

#ibox-icon svg {
  height: 24px;
  width: 24px;
}