@font-face {
  font-family: GgSans;
  src: url(fonts/gg sans Bold.ttf) format("ttf"),
       url(fonts/gg sans Regular.ttf) format("ttf"),
       url(fonts/gg sans Semibold.ttf) format("ttf"),
       url(fonts/gg sans Medium.ttf) format("ttf");
}

nav {
  width: 28px;
  position: fixed;
  bottom: 0;
  top: 12px;
  left: 0;
}